html, body {
width: 100%;
overflow-x: hidden;
}

footer {
  background-color: #222831;
  text-align: center;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* NAVBAR */
.navbar {
  background-color: #222831;
}


/* MAIN */
.main-header {
  background-image: url('../images/bg1.png');
  background-repeat: no-repeat;
}

.badge {
  padding: 0.35em 0.65em !important;
}

.online-notice {
}

/* FEATURES */
.features {
  padding-bottom: 2rem;
}

.features-box {
  width: 90%;
  height: 90%;
  margin-top: 1rem;
  padding: 0 1.5rem 1.5rem 1.5rem;
  background-color: #03506f;
  border-radius: 5px;
}

.feature-icon {
  width: 100%;
  text-align: center;
  color: white;
  margin-top: 2rem;
}

.feature-text {
  text-align: center;
  color: #dee2e6;
}

.more-info {
  color: white;
  text-decoration: none !important;
  transition: 0.2s;
}

.more-info:hover {
  transition: 0.2s;
}
/*.card-body {
  background-color: white;
}

.card {
  padding: 2px;
  margin: 1.5rem;
}
*/

/* NEWS & UPDATES */
.news-card {
  padding-bottom: 2rem;
}

/* LATEST FILES */
#latest-files-section{
  background-color: #f8f9fa;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.download-text {
  color: #11698e;
}

/* FOOTER */
.footer-text {
  margin: auto;
}
