html, body {
width: 100%;
overflow-x: hidden;
}

footer {
  background-color: #222831;
  text-align: center;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.col {
  padding: 0 !important;
}

.row {
  margin: 0 !important;
}

.container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* NAVBAR */
.navbar {
  background-color: #222831;
}


/* MAIN */
.main-header {
  background-image: url('../images/bg1.png');
  background-repeat: no-repeat;
}

.badge {
  padding: 0.35em 0.65em !important;
}

.online-notice {
}

/* FEATURES */
.features {
  padding-bottom: 2rem;
}

.card-body {
  background-color: white;
}

.card {
  padding: 2px;
  margin: 1.5rem;
}

/* NEWS & UPDATES */
.news {
  background-color: white;
}


/* LATEST FILES */
.latest-files {
  padding-top: 3rem;
}

.download-text {
  color: #11698e;
}

/* FOOTER */
.footer-text {
  margin: auto;
}
